--CREATE FUNCTION SnowSeed(Integer,Integer) RETURNS Integer AS 'DBSnowSeed.PostgreSQL.dll', 'SnowSeed' LANGUAGE C;
--DROP FUNCTION SnowSeed
--select 1 a, SnowSeed(0,0) b
--union
--select 2 a, SnowSeed(0,0) b