################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################
/.vs
/SQLServer/bin/Debug
/SQLServer/obj/Debug
/SQLServer/DBSnowSeed.SQLServer.sqlproj.user
/SQLServer/DBSnowSeed.SQLServer.dbmdl
/SQLServer/DBSnowSeed.SQLServer.jfm
MySQL/DBSnowSeed.MySQL.vcxproj.user
